<div class="col-10 offset-1"> <!--creates margins on sides of view-->
    <!--rails-bootstrap form-->
    <%= bootstrap_form_for(@student,label_errors: true) do |f| %>
      <%= f.text_field :name, label:"Student Name" %>
      <%= f.form_group :service_program, label: { text: "Service Program" } do %>
        <%= f.radio_button :service_program, "Gen-Ed", label: "Gen-Ed", checked: true %>
        <%= f.radio_button :service_program, "IEP", label: "IEP"%>
        <%= f.radio_button :service_program, "504", label: "504"%>
        <%= f.radio_button :service_program, "ELL", label: "ELL"%>
      <% end %>
      <%= f.number_field :studentId, label: "Student ID" %>
      <!--dropdown for easy selection of student grades 1-8-->
      <%= f.select :grade,  [["1st", 1], ["2nd", 2], ["3rd", 3], ["4th", 4], ["5th", 5],
      ["6th", 6], ["7th", 7], ["8th", 8]], { label: "Grade" }, { class: "custom-select" } %>
      <%= f.date_field :dob, label:"Date of birth" %>
      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
</div>