<!--SEARCH FORM-->
<div class ="container">
  <div class="col-6">
  <%= form_tag(students_path, method: "get",id: "search-box") do %>
    <%= label_tag("Search by students name:") %>
    <br />
    <%= text_field_tag(:search, params[:search], class: 'search-bar') %>
    <br />
    <br />
    <%= submit_tag("Search", name: nil) %>
  <% end %>
  
 
 <!--ALERT MESSAGE FOR INVALID SEARCH -->
  <% if @student.blank? %>
    <h3>No students found with the name(s) "<%= params[:search]%>"</h3>
    <% end %>
  </div>


<!--LIST OF CURENT STUDENTS IN DB  -->
<div class="col-6">
<table class="table">
  <thead class="thead-default">
  <tr>
    <th>Name</th>
    <th>Grade</th>
    <th ><i class="fa fa-pie-chart fa-lg" aria-hidden="true"></i></th>
    <th><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></th>
    <th><i class="fa fa-trash fa-lg" aria-hidden="true"></i></th>
  </tr>
 
<% @student.each do |student| %>
  <tr>
    <td><%= student.name %></td>
    <td><%= student.grade %></td>
    <td><%= link_to "Show", student %></td>
    <td><%= link_to "Edit", edit_student_path(student) %></td>
    <td><%= link_to "Remove", student, method: :delete, data: { confirm: "Are you sure?" } %></td>
  </tr>
<% end %>
  </thead>
</table>
</div>

</div> <!--END OF CONTAINER-->

<!--JAVASCRIPT TO CLEAR SEARCH INPUT FIELD AFTER PAGE RELOADS -->
<script>
  $('.search-bar').val("");
</script>