<!--SEARCH FORM-->
<div class ="container">
  <div class ="row">
    <div class="col-md-4 offset-4">
  <%= form_tag(students_path, method: "get",id: "search-box") do %>
    <%= label_tag("Search by students name:") %>
    <br />
    <%= text_field_tag(:search, params[:search]) %>
    <br />
    <br />
    <%= submit_tag("Search", name: nil) %>
  <% end %>
  
  <hr />
 <!--LIST OF CURENT STUDENTS IN DB  -->
  <ul> 
    <%= @student.each do |student| %>
      <li>
      <h2><%= student.name %></h2>
      </li>
    <% end %>
  </ul>

 <!--ALERT MESSAGE FOR INVALID SEARCH -->
  <% if @student.blank? %>
    <h3>No students found with the name(s) "<%= params[:search]%>"</h3>
    <% end %>
  </div>
</div>
</div>