<nav class="navbar navbar-light" style="background-color: #7D82CD">  
  <form class="form-inline">
     <ul class="navbar-nav mr-auto">
      </ul>
      <div class="btn btn-primary">
        &nbsp;
        <i class="fa fa-user-plus fa-lg" aria-hidden="true"></i>
        &nbsp;
        <%= link_to 'Add a new student', new_student_path(@student), {:style=>'color:#FFFFFF;' 'text-decoration:none;' } %>
        &nbsp;
      </div>
  </form>
</nav>

<div class ="container">
  <div class ="row">
    <div class="col-md-4 offset-4">
  <%= form_tag(students_path, method: "get",id: "search-box") do %>
    <%= label_tag("Search by students name:") %>
    <br />
    <%= text_field_tag(:search, params[:search]) %>
    <br />
    <br />
    <%= submit_tag("Search", name: nil) %>
  <% end %>
  
  <hr />
   
  <ul> 
    <%= @student.each do |student| %>
      <li>
      <h2><%= student.name %></h2>
      </li>
    <% end %>
  </ul>

  
  <% if @student.blank? %>
    <h3>No students found with the name(s) "<%= params[:search]%>"</h3>
    <% end %>
  </div>
</div>
</div>