<!--ANALYTICS PAGE-->
<body > 
  <nav class="navbar navbar-light" style="background-color: #7D82CD">
    <div>
      <%= link_to 'FACTA', authenticated_root_path, class: 'navbar-brand mb-0' %>
    </div>
  </nav>
  <!--TEST DIV-->
      <div class="container">
      <hr/>
     <div class = "col-md-6 text-center">
          <!-- NEW SECTION/BOTTOM SECTION-->
          <div class="flex-column">
            <h2 class="">Class History</h2>
            <br>
            <p class="">Teachers reporting behaviour 4
              <!-- <%= @reportedBehavior -%> -->
            </p>
            <p class="">Number of reports 5
              <!-- <%= @numberOfReports -%> -->
            </p>
            <p class="">Strategies applied: 
              <%= @numOfStrat.size %>
            </p>
            <p class="">Number of incidents:  
               <%= @student.incidents.size %> 
            </p>
          </div>
      </div>
    <div class = "col-md-6 text-center">
      <div id="donutchart" style="width: 900px; height: 500px;">
      <script type="text/javascript">
        google.charts.load("current", {packages:["corechart"]});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
          var data = google.visualization.arrayToDataTable([
            ['Information', 'Counts'],
            ['Reports',     5],
            ['Strategies',    <%= @numOfStrat.size %>],
            ['Incidents',   <%= @student.incidents.size %>]
            // ['Watch TV', 2],
            // ['Sleep',    7]
          ]);
  
          var options = {
            title: "<%= @student.name %>",
            pieHole: 0.6,
          };
  
          var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
          chart.draw(data, options);
          }
      </script>
    </div>
    </div>
  <!--END OF TEST DIV-->
  </div>
</body>
