<!--ANALYTICS PAGE-->
  <!--TEST DIV-->
  <div class="container">
      <hr/>
     <div class = "col-md-6 text-center">
          <!-- NEW SECTION/BOTTOM SECTION-->
          <div class="flex-column">
            <h2 class="">Class History</h2>
            <br>
            <!--<p class="">Teachers reporting behaviour 4-->
              
            <!--</p>-->
            <p class="">Incidents Reported: 
              <%=@student.incident_reports_count %>
            </p>
            <p class="">Interventions: 
              <%=@interventionCount %>
            </p>
          </div>
      </div>
    <div class = "col-md-6 text-center">
      <div id="donutchart" style="width: 900px; height: 500px;">
      <script type="text/javascript">
        google.charts.load("current", {packages:["corechart"]});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
          var data = google.visualization.arrayToDataTable([
            ['Information', 'Counts'],
            ['Reports',     <%=@student.incident_reports_count %>],
            ['Interventions',  <%=@interventionCount %>],
            //['Incidents',   3]
            // ['Watch TV', 2],
            // ['Sleep',    7]
          ]);
  
          var options = {
            titleTextStyle: {
            fontSize: 28, // 12, 18 whatever you want (don't specify px)
            bold: false,
            },
            title: "<%= @student.name %>",
            pieHole: 0.6,
          };
  
          var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
          chart.draw(data, options);
          };
      </script>
    </div>
    </div>
  <!--END OF TEST DIV-->
  </div>